/* Global Styles */

.jumbotron {
  text-align: center;
  background: transparent;
}

.jumbotron h1 {
  color:  #428bca;
}

#note {
  margin: 20px 0;
  font-size: 18px;
  height:300px;
  border: 2px dashed grey;
  box-shadow: none;
  --webkit-box-shadow : none;
  border-radius: none;
}
