/* Global Styles */

.jumbotron {
  text-align: center;
  background: transparent;
}

.jumbotron h2 {
  color:  #428bca;
}
.jumbotron p {
  font-size: 10pt;
}

#note {
  margin: 30px 0;
  padding:7px;
  font-size: 18px;
  border: 2px dashed grey;
  box-shadow: none;
  --webkit-box-shadow : none;
}

#note:empty:not(:focus):before{
  content:attr(data-ph);
  color:grey;
}

#note[contenteditable=false]{
  background: #eee;
}

#centered {
	bottom: 0px;
	position: absolute;
	width: 50% !important;
    margin: 0 auto;
}

#livenote-title {

  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center !important;
}

#startwriting {
  font-size: 22px;
}

#lit-writes {
  font-size: 28px;
  color: #AF0A0F;
}

#collaboration {
  font-size: smaller;
}

body {
  background: #EEF2FF;
}

.text-muted {
  color: #789922;
  font-size: 10pt;
  font-family: arial,helvetica,sans-serif;
  margin-left: 0;
  line-height: 0%;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 40px;
-webkit-margin-end: 40px;
}

a:hover {
text-decoration: none;
color: #DD0000!important;
}
