/* Global Styles */

.jumbotron {
  text-align: center;
  background: transparent;
}

.jumbotron h1 {
  color:  #428bca;
}

#note {
  margin: 20px 0;
  font-size: 18px;
  border: 1px dashed grey;
  box-shadow: none;
  --webkit-box-shadow : none;
  border-radius: none;
}

#centered {
	bottom: 0px;
	position: absolute;
	width: 50% !important;
    margin: 0 auto;
}

#livenote-title {

  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center !important;
}